@{
    ViewData["Title"] = "Terms & Conditions";
}
<section class="page-section portfolio" id="portfolio">
    <div class="container">
        <!-- Portfolio Section Heading -->
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">@ViewData["Title"]</h2>
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon">
                <img style="height:60px;border-radius:50%;" src="~/images/nzlogo.png" />
            </div>
            <div class="divider-custom-line"></div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 mb-5 mb-lg-0"></div>
                <div class="col-lg-6 mb-5 mb-lg-0">
                    Welcome to nany4urtiny! <br />
                    These terms and conditions outline the rules and regulations for the use of our Hot topics project at Manukau Institute of Technology located at nany4urtiny.com (local-host).
                    By hopping into our website, we believe you accept the following terms and conditions. If you don’t wish to agree to accept all the terms and conditions, please opt out of the page.
                    All terms refer to the offer, acceptance and consideration of payment necessary to the client in the most appropriate manner in order to provide childcare services and employment to all Kiwis, in accordance with and subject to, prevailing law of New Zealand. We accept the cookies and by hopping to our page nany4urtiny you agreed to accept cookies in accordance with our websites’ privacy policy. All the material on our website is owned by website publisher's and designers. You can access nany4urtinny for your personal use subjected to restrictions in terms of republishing material from our website, reproducing or copying contents of our website and redistributing material from the website data. If you find any data on our website that is not legal or offensive, please feel free to contact us. We will more than happy to assist your requests.
                </div>
                <div class="col-lg-3 mb-5 mb-lg-0"></div>
            </div>
        </div>
    </div>
</section>
<section class="page-section bg-primary text-white mb-0" id="about">
    <div class="container">
        <!-- About Section Heading -->
        <h2 class="page-section-heading text-center text-uppercase text-white">About</h2>
        <!-- Icon Divider -->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon">
                <img style="height:60px;border-radius:50%;" src="~/images/nurse.png" />
            </div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- About Section Content -->
        <div class="row">
            <div class="col-lg-4 ml-auto">
                <p class="lead">Need a babysitter or babysitter job? Nanny4urtiny is the one-stop resource for all your babysitting, nanny, and child care needs. We are an online community dedicated to connecting families to a wide network of babysitters, nannies, daycares and childcare individuals. </p>
            </div>
            <div class="col-lg-4 mr-auto">
                <p class="lead">If you're looking to hire a child care for your kids or you're a babysitter, nanny or child care worker looking for a job — Nanny4urtiny can help!</p>
            </div>
        </div>
        <!-- About Section Button -->
        <div class="text-center mt-4">
            <a class="btn btn-xl btn-outline-light" href="https://play.google.com/store/apps?hl=en">
                <i class="fa fa-download mr-2"></i>
                Download App!
            </a>
        </div>
    </div>
</section>
