@{
    ViewData["Title"] = "Privacy Statement";
}
<section class="page-section portfolio" id="portfolio">
    <div class="container">
        <!-- Portfolio Section Heading -->
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">@ViewData["Title"]</h2>
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon">
                <img style="height:60px;border-radius:50%;" src="~/images/nzlogo.png" />
            </div>
            <div class="divider-custom-line"></div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 mb-5 mb-lg-0"></div>
                <div class="col-lg-6 mb-5 mb-lg-0">
                    We final quarter students at Manukau Institute of Technology care about our user's personal information and are responsible how it is being used and shared, and we take user’s privacy seriously.  By hopping into the website or accessing the services in any manner, user acknowledge that you accept the application and policies described in this privacy policy User hereby agreed that website publishers can accumulate, use and share our information. Our policy states that if the user is under 18, he/she is not able to register for the service. During verification if we found that the user is under ager 18 then we deserve full rights to delete her information from our database.
                    What type of information we gather?
                    We accumulate three checks from our users following valid ID proof, first aid certificate and Police clearance certificate. We can use this information to personalize and improve our services. We are authorized to share Personal information with 3rd parties. We deserve all rights to store any information you knowingly provide on our website. We can track the frequency of our users whenever they access or interact with our website this data will help us to provide better services on the website. We may contact our you by email or the number you provided. We shall abide by our terms that we will never sell your personal information to anyone.
                </div>
                <div class="col-lg-3 mb-5 mb-lg-0"></div>
            </div>
        </div>
    </div>
</section>
<section class="page-section bg-primary text-white mb-0" id="about">
    <div class="container">
        <!-- About Section Heading -->
        <h2 class="page-section-heading text-center text-uppercase text-white">About</h2>
        <!-- Icon Divider -->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon">
                <img style="height:60px;border-radius:50%;" src="~/images/nurse.png" />
            </div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- About Section Content -->
        <div class="row">
            <div class="col-lg-4 ml-auto">
                <p class="lead">Need a babysitter or babysitter job? Nanny4urtiny is the one-stop resource for all your babysitting, nanny, and child care needs. We are an online community dedicated to connecting families to a wide network of babysitters, nannies, daycares and childcare individuals. </p>
            </div>
            <div class="col-lg-4 mr-auto">
                <p class="lead">If you're looking to hire a child care for your kids or you're a babysitter, nanny or child care worker looking for a job — Nanny4urtiny can help!</p>
            </div>
        </div>
        <!-- About Section Button -->
        <div class="text-center mt-4">
            <a class="btn btn-xl btn-outline-light" href="https://play.google.com/store/apps?hl=en">
                <i class="fa fa-download mr-2"></i>
                Download App!
            </a>
        </div>
    </div>
</section>