@model IEnumerable<MVCManukauTech.Models.DB.Products>
@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor HttpContextAccessor
@using System.Security.Claims;
@{
    int pno = HttpContextAccessor.HttpContext.Session.GetInt32("PCountIND").Value;
    double GoldPrice = 0;
    double SilverPrice = 0;
}
<h2 style="text-align: center;font-family:cursive; padding-bottom:25px;padding-top: 25px;">PRODUCTS</h2>


<div>
    <div class="row">
        <div class="col-md-12">

        </div>
        <div class="col-md-12">
            <div class="row">

                <div>
                    @foreach (var m in Model)
                    {
                        <input type="hidden" value="" />
                        <div id="tblData" class="col-md-4" style="text-align:center;padding: 5px 5px 5px 5px;">
                            <a asp-action="Details" asp-route-id="@m.ProductId">
                                <img class="a.photo" src="~/images/products/@m.ImageFileName" style="width:250px; height:250px; cursor:pointer" />
                                <div class="row">
                                    <h4><span id="ProductName" style="color:darkred;font-size: larger;font-family: cursive">@m.Name</span></h4>

                                            <h4><span id="ProductCost" style="color:black;font-size: larger">NZ$ @m.UnitCost</span></h4>
                                      
                                    <p></p>
                                </div>
                            </a>
                            <p>
                                <a href="~/OrderDetails/ShoppingCart?productId=@m.ProductId&name=@m.Name">
                                    <span class="glyphicon glyphicon-shopping-cart" style="color:green;text-align:right;font-size:25px;"></span>
                                </a>

                            </p>
                        </div>

                    }

                </div>

            </div>
        </div>
        @if (pno > 6)
        {
            <nav aria-label="..." style="text-align: center;">
                <ul class="pagination pagination-lg">
                    @for (int j = 1; j <= (pno / 6); j++)
                    {
                        <li class="page-item"><a class="page-link" href="~/Products/Index?pageno=@j">@j</a></li>

                    }

                </ul>
            </nav>
        }
    </div>
</div>

<div>
    @*@Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
        <a asp-action="Index">Back to List</a>*@
</div>
